<h2>Панель методиста</h2>
<div class="row text-center">
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h3>{{stats.groups}}</h3>
        <p>Групп</p>
        <a href="/methodist/groups" class="btn btn-outline-primary btn-sm">Управлять</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h3>{{stats.students}}</h3>
        <p>Студентов</p>
        <a href="/methodist/students" class="btn btn-outline-primary btn-sm">Управлять</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h3>{{stats.teachers}}</h3>
        <p>Преподавателей</p>
        <a href="/methodist/teachers" class="btn btn-outline-primary btn-sm">Управлять</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h3>{{stats.subjects}}</h3>
        <p>Предметов</p>
        <a href="/methodist/subjects" class="btn btn-outline-primary btn-sm">Управлять</a>
      </div>
    </div>
  </div>
</div>
