<h2>Преподаватели</h2>

<form action="/methodist/teachers" method="POST" class="row g-3 mb-4">
  <div class="col-md-3">
    <input type="text" name="login" class="form-control" placeholder="Логин" required>
  </div>
  <div class="col-md-3">
    <input type="password" name="password" class="form-control" placeholder="Пароль" required>
  </div>
  <div class="col-md-4">
    <input type="text" name="full_name" class="form-control" placeholder="ФИО" required>
  </div>
  <div class="col-md-2">
    <button class="btn btn-success">Добавить</button>
  </div>
</form>

<table class="table">
  <thead><tr><th>ID</th><th>Логин</th><th>ФИО</th><th></th></tr></thead>
  <tbody>
    {{#each teachers}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.login}}</td>
        <td>{{this.full_name}}</td>
        <td>
          <form action="/methodist/teachers/{{this.id}}?_method=DELETE" method="POST">
            <button class="btn btn-danger btn-sm">Удалить</button>
          </form>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
